pip

streamlit
pandas
seaborn
matplotlib
pydeck
numpy
streamlit_option_menu
Pillow
plotly
folium
streamlit_folium
# folium.plugins
# plotly.graph_objects
# streamlit.components.v1
# matplotlib.colors
streamlit_elements
dashboard
# pickle
surprise
tqdm
scikit-learn

